[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/hugo-future-imperfect-slim"]
    path = themes/hugo-future-imperfect-slim
    url = https://github.com/jpescador/hugo-future-imperfect-slim.git